:root {
  --hue-red: 0;
  --hue-orange: 30;
  --hue-yellow: 60;
  --hue-chartreuse: 90;
  --hue-green: 120;
  --hue-mint: 150;
  --hue-cyan: 180;
  --hue-azure: 210;
  --hue-blue: 240;
  --hue-violet: 270;
  --hue-magenta: 300;
  --hue-pink: 330;
  --color-light: hsla(var(--hue-azure),25%,100%,1);
  --color-light-accent: hsla(var(--hue-chartreuse),75%,50%,1);
  --color-dark: hsla(var(--hue-azure),25%,5%,1);
  --color-dark-accent: hsla(var(--hue-pink),75%,50%,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-dark);
    --color: var(--color-light);
    --color-accent: var(--color-dark-accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-light);
    --color: var(--color-dark);
    --color-accent: var(--color-light-accent);
  }
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

nav a {
  display: inline-block;
}

.logo-fill {
  fill: var(--color);
}

.logo-accent {
  fill: var(--color-accent);
}

@media (max-width: 767px) {
  .logo-large {
    display: none;
  }
}

@media (min-width: 766px) {
  .logo-small {
    display: none;
  }
}
