:root {
  --hue-red: 0;
  --hue-orange: 30;
  --hue-yellow: 60;
  --hue-chartreuse: 90;
  --hue-green: 120;
  --hue-mint: 150;
  --hue-cyan: 180;
  --hue-azure: 210;
  --hue-blue: 240;
  --hue-violet: 270;
  --hue-magenta: 300;
  --hue-pink: 330;
  --color-light: hsla(var(--hue-azure),25%,100%,1);
  --color-light-hover: hsla(var(--hue-azure),25%,75%,1);
  --color-light-disabled: hsla(var(--hue-azure),25%,50%,1);
  --color-light-accent: hsla(var(--hue-chartreuse),75%,50%,1);
  --color-light-accent-pale: hsla(var(--hue-chartreuse),75%,25%,1);
  --color-light-accent-background: hsla(var(--hue-chartreuse),75%,90%,1);
  --color-light-shadow: hsla(var(--hue-azure),25%,25%,1);
  --color-light-failure: hsla(var(--hue-red),100%,50%,1);
  --color-light-success: hsla(var(--hue-green),100%,35%,1);
  --color-dark: hsla(var(--hue-azure),25%,5%,1);
  --color-dark-hover: hsla(var(--hue-azure),25%,25%,1);
  --color-dark-disabled: hsla(var(--hue-azure),25%,50%,1);
  --color-dark-accent: hsla(var(--hue-pink),75%,50%,1);
  --color-dark-accent-pale: hsla(var(--hue-pink),75%,75%,1);
  --color-dark-accent-background: hsla(var(--hue-pink),75%,10%,1);
  --color-dark-shadow: hsla(var(--hue-azure),25%,25%,1);
  --color-dark-failure: hsla(var(--hue-red),100%,50%,1);
  --color-dark-success: hsla(var(--hue-green),100%,35%,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-dark);
    --color: var(--color-light);
    --hover: var(--color-light-hover);
    --disabled: var(--color-light-disabled);
    --accent: var(--color-dark-accent);
    --shadow: var(--color-dark-shadow);
    --failure: var(--color-dark-failure);
    --success: var(--color-dark-success);
    --accent-pale: var(--color-dark-accent-pale);
    --background-color-information: var(--color-dark-accent-background);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-light);
    --color: var(--color-dark);
    --hover: var(--color-dark-hover);
    --disabled: var(--color-dark-disabled);
    --accent: var(--color-light-accent);
    --shadow: var(--color-light-shadow);
    --failure: var(--color-light-failure);
    --success: var(--color-light-success);
    --accent-pale: var(--color-light-accent-pale);
    --background-color-information: var(--color-light-accent-background);
  }
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

@media (width < 576px) {
  nav.burger-closed > div > div, nav.burger-closed > div > a:not(.logo) {
    display: none;
  }
}
